html, body{
    height:100%;
    background-image: url("../components/punch-it-chewie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.header{
    text-align: center;
}
.toDoApp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color:white;
    width: 100%;
}
.toDo{
    gap: 25px;
}
.crossed {
    text-decoration: line-through;
}
.toDoApp {
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.toDo
{
    display: flex;
    text-align: center;
}
.modal-form
{
    display: flex;
    position: absolute;
}
.Image
{
    vertical-align: center;
    justify-content: center;
    align-self: center;
}
button{
    border-radius: 5px;
    height: 25px;
}
button:hover{
    cursor: pointer;
    background-color: green;
}